@model AttendanceRecords.Models.Group

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Группы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupJob" class="control-label"></label>
                <input asp-for="GroupJob" class="form-control" />
                <span asp-validation-for="GroupJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupYear" class="control-label"></label>
                <input asp-for="GroupYear" class="form-control" />
                <span asp-validation-for="GroupYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_Count" class="control-label"></label>
                <input asp-for="Student_Count" class="form-control" />
                <span asp-validation-for="Student_Count" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
